/* importere fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&display=swap');


/*grundlayout */

body  {
  background: #ffffff;
  max-width: 87rem;
  margin: auto;
}

.header {
  grid-area: h;
  background-color: #d2bbf2;
}

.menu {
  grid-area: me;
  background-color: #d2bbf2;
}

.main {
  grid-area: ma;
  background-color: #ffffff;
  color: #554073;
  overflow-y: hidden;
}

.footer {
  grid-area: f;
  background-color: #d2bbf2;
  color: #554073;
}

.container {
  display: grid;
  box-shadow: 0 0 20px 1px #ede9f2;
  grid-template: 5rem auto auto / repeat(4, 1fr);
  grid-template-areas:
          "h h h me"
          "ma ma ma ma"
          "f f f f";
}


.main2 {background-color: #ede9f2;}


/* typografi */

.p , #p {
  margin: 2rem 5% 2rem 5%;
  font: 400 0.9rem 'Montserrat', arial, sans-serif;
  line-height: 1.8;
}

 .p-footer {
   margin: 2rem 5% 2rem 5%;
   text-align: center;
   font: 600 0.9rem 'Montserrat', arial, sans-serif;
   line-height: 1.6;
 }


.h1 {
   margin: 6rem 5% 0 5%;
   font: 700 1.8rem 'Encode Sans', arial, sans-serif;
 }

 .h1-mindre-top {
   margin: 2rem 5% 0 5%;
   font: 700 1.8rem 'Encode Sans', arial, sans-serif;
 }

 #h1 {
   text-align: center;
   margin-top: 6rem;
   font: 700 2rem 'Encode Sans', arial, sans-serif;
 }


/* billeder, videoer og knapper */

.logo {
  margin: 0.6rem 0 0 1rem;
  position: absolute;
}

.about-img {
  max-width: 25rem;
  margin: auto;
}

.about-img > img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  object-position: top;
}

.product-video , .product-img {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-video > video {
  width: 90%;
  height: auto;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}


.product-img > img {
  width: 90%;
  height: auto;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.product , .products {
  margin: 0 5% 0 5%;
}

.product > a , .products > a {
  display: flex;
  flex-direction: column;
  background-color: #ded0f2;
  align-items: center;
  margin: 0 auto 5% auto;
  padding: 1.5rem 0 1.5rem 0;
  max-width: 30rem;
  font: 600 1.2rem 'Montserrat', arial, sans-serif;
  text-decoration: none;
  color: #554073;
}

.product > a:hover , .products > a:hover {
  background-color: #8e6bbf;
  color: #ffffff;
}

/* navigationsmenu */

.nav-open-icon > img {
  height:2.5rem;
  margin: 1.2rem 20% 0 0;
  float: right;
}

.nav-open-icon:hover + .nav-elements {
    display: flex;
}

.nav-elements:hover {
    display: flex;
}

.nav-elements > a:hover {
    background-color: #ae8fd9;
    color: #ffffff;
}

.nav-elements {
    margin-top: 0rem;
    display: none;
    position: relative;
    padding-top: 1.2rem;
    width: 100%;
    flex-direction: column;
}

.nav-element {
  text-align: center;
}

.nav-elements > a {
  background-color: #d2bbf2;
  color: #554073;
  text-decoration: none;
  padding: 1rem 0 1rem 0;
  font: 600 1rem 'Montserrat', arial, sans-serif;
}



.main-container {
  display: flex;
  flex-direction: column;
}
.mobile-only {
  display: inherit;
}

.desktop-only {
  display: none;
}


@media only screen and (min-width: 992px) {
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* billeder, videoer, knapper m.m.*/

  .main-container {
    flex-direction: row;

  }

  .desktop-only {
    display: inherit;
  }

  .mobile-only {
    display: none;
  }

  .about-img {
    min-width: 30rem;
    margin-right: inherit;
    margin: auto 5% 0 auto;
  }

  .about-img > img {
    height: 43rem;
    margin-top: 2rem;
  }

  .product-video > video {
    width: 80%;
    margin-bottom: 5rem;
  }

  .product-img > img {
    max-width: 40rem;
    height: auto;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
  }


  .product {
    display: flex;
    align-items: center;
  }

  .product > a {
    min-width: 30rem;
  }


/* typografi */

  .p {
    line-height: 2;
    font-size: 1rem;
    margin: 3rem 4rem 3rem 4rem;
  }

  #p {
    line-height: 2;
    font-size: 1rem;
    margin: 15% 3rem 0 4rem;
  }

  .p-footer {
    line-height: 1.8;
    margin: 3rem 4rem 3rem 4rem;
    font-size: 1rem;
  }

  #h1 {
    margin: 5rem 3rem 0 4rem;
    font-size: 2.5rem;
  }

  .h1 , .h1-mindre-top {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 3rem;
  }

  .h1 {
    margin-top: 5rem;
  }

  .product > a , .products > a {
    font-size: 1.5rem;
    max-width: 50rem;
  }

/* navigationsmenu */

  .nav-open-icon > img {
    display: none;
  }

  .nav-open-icon:hover + .nav-elements {
      display: inline;
  }

  .nav-elements:hover {
      display: inline-flex;
  }

  .nav-elements > a:hover {
      display: inline;
      background-color: inherit;
      color: #8e6bbf;
  }

  .nav-elements {
    flex-direction: row;
    display: flex;
    position: inherit;
    width: inherit;
    margin-top: -0.5rem;
  }

  .nav-elements > a {
    background-color: inherit;
    margin: 0 2rem 5rem 2rem;
    width: 8rem;
    color: #ffffff;
    font-size: 1.3rem;
  }
}
